node_modules
.history
/doc
.vscode/
frontend/node_modules/
backend/node_modules/
frontend/dist/
backend/dist/
.husky
/.vscode
.idea

# Environment files with secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.env.production
frontend/build
backend/.env
backend/.env.local
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local
backend/.env.production
backend/paylive-local-1.yaml
